.homepage {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.left {
  flex: 1;
  padding-right: 20px;
}



h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.bottomSection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 2rem;
}

.card {
  width: 300px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Responsive Styles (adjust according to your needs) */
@media (max-width: 768px) {
  .bottomSection {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
