.injuryReportForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.injuryReportForm h1 {
  text-align: center;
}
.ant-form-item-label {
  text-align: left;
}

.ant-input,
.ant-select {
  width: 100%;
  margin-bottom: 15px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
}

.divLeft {
  text-align: center;
}
.divLeft,
.divRight {
  width: 80%;
  margin: 0 auto;
}

ol {
  padding: 0;
}

ol li {
  margin-bottom: 5px;
  font-size: large;
}

.bottom {
  display: flex;
  justify-content: center;
}

button {
  width: 50%;
  margin: 100px auto;
  display: block;
}
